#container>div {
    display: grid;
    align-items: center;
    justify-items: left;
    padding-left: 4px;

    border-bottom: 1px solid black;
    height: 40px;
    color: black;
    cursor: pointer;
}

#container>div:hover {
    background-color: #79b179;
}