#container > div{
  padding-left: 10px;
  display: grid;
  grid-template-columns: 1fr 100px 40px;
  border-bottom: 1px solid grey;
  color: black;
  cursor: pointer;
  align-items: center;
  
}

#container > div:hover{
  background-color: #79b179;
}


.btnEditList {
  align-items: center;
  justify-self: center;
  padding: none;
  border: none;
  font-size: 20px;
  color: black;
  background-color: #c9f1c7;
  height: 60px;
}

.btnEditList:hover{
  background-color: #79b179;
}


.btnDelList {
  width: 50px;
  height: 60px;
  color: black;
  background-color: #c9f1c7;
  font-size: 20px;
  outline: none;
  border: none;
  cursor: pointer;
  justify-self: right;
  position: absolute;
} 

.btnDelList:hover{
  background-color: #79b179;
}


#container > h3{
    padding-left: 40px;
    align-items: center;
    justify-items: left;
    color: black;
    font-size: 25px;
    font-weight: bold;
    height: 40px;
}

* {
  font-family: "jost", sans-serif;
  
}

.header {
  background-color: #79b179;
  padding: 40px 25px;
  color: white;
  text-align: center;
}

body {
  margin: 0px;
  background-color: #c9f1c7;
}

#title {
  background-color: #79b179;
  font-size: 40px;
}

#listname {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 500px;
  padding: 10px;
  float: left;
  font-size: 16px;
  background: #eeeded;
  outline: none;
  border: none;
  border-radius: 5px;
  height: 20px;
}

#btnCreate {
  padding: 10px;
  height: 40px;
  width: 130px;
  background: #c9f1c7;
  color: black;
  float: left;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 5px;
}

#btnCreate:hover {
  background-color: lightgray;
}





.dropdown {
  color: #79b179;
  background: #c9f1c7;
  font-size: 13px;
  font-weight: bold;
  outline: none;
  border: none;
  transition: 0.2s ease-in;
  cursor: pointer;
  margin: 5px;
  border-radius: 5px;
  display: inline-block;
  width: 15%;
  height: 30px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #c9f1c7;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin-top: 8px;
  
}

.dropdown-content a{
  color: #79b179;
  font-size: 13px;
  font-weight: bold;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {
  background-color: lightgray;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover {
  background-color: lightgray;
}

.arrow {
  border: solid #79b179;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  background-color: transparent;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
