* {
  font-family: "jost", sans-serif;
  background-color: #c9f1c7;
}

.header {
  background-color: #79b179;
  padding: 40px 25px;
  color: white;
  text-align: center;
}

div {
  border-bottom: solid 1px white;
}

body {
  margin: 0px;
}

#title {
  font-size: 40px;
  background-color: #79b179;
}

#currentList {
  background-color: #79b179;
}

.divMenu {
  color: white;
  text-align: right;
}

h2 {
  padding-left: 10px;
}

p {
  padding-left: 10px;
  font-size: 17px;
}

a:hover {
  color: #c9f1c7;
}

#btnToDoCreate {
  padding: 10px;
  height: 35px;
  width: 150px;
  background: #c9f1c7;
  color: #79b179;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 5px;
}

#btnToDoCreate:hover {
  background-color: lightgray;
}

#btnLists {
  padding: 10px;
  height: 35px;
  width: 150px;
  background: #c9f1c7;
  color: #79b179;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 5px;
}

#btnLists:hover {
  background-color: lightgray;
}

.header button {
  padding: 10px;
  height: 35px;
  width: 150px;
  background: #c9f1c7;
  color: #79b179;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 5px;
}

.header button:hover {
  background-color: lightgray;
}

button {
  width: 100px;
  height: 30px;
  color: #c9f1c7;
  background: #79b179;
  font-size: 15px;
  font-weight: bold;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 5px;
  border-radius: 5px;
}

button:hover {
  background-color: lightgray;
}

.dropdown {
  transition: 0.2s ease-in;
  display: inline-block;
  padding: 10px;
  height: 35px;
  width: 150px;
  background: #c9f1c7;
  color: red;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #c9f1c7;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin-top: 8px;
}

.dropdown-content a {
  color: #79b179;
  font-size: 13px;
  font-weight: bold;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: lightgray;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover {
  background-color: lightgray;
}

.arrow {
  border: solid #79b179;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  background-color: transparent;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover {
  background-color: lightgray;
}

.arrow {
  border: solid #79b179;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  background-color: transparent;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
