* {
  margin: 0;
  padding-left: 13px;
  padding-top: 10px;
  font-family: "Jost", sans-serif;
}

body {
background: linear-gradient(90deg, #79b179, #c9f1c7);
}

#btnCreate{
width: 12%;
height: 40px;
justify-content: center; 
color: #79b179;
background: #c9f1c7;
font-size: 20px;
font-weight: bold;
margin-top: 15px;
outline: none;
border: none;
cursor: pointer;
padding-bottom: 7px;
border-radius: 5px;
}

#btnCreate:hover {
  background-color: lightgray;
}

#overskrift{
color: white;
font-size: 50px;
padding-left: 0px;
}

#inpHeading{
width: 50%;
height: 25px;
background: #efeff7;
border: none;
outline: none;
font-size: 18px;

}

#inpDescription{
font-size: 18px;
background: #efeff7;
border: none;
outline: none;
justify-self: center;
} 

#create{
display: flex;
grid-template-columns: 1fr 1fr;
align-items: center;
justify-items: center;
}

#date {
justify-self: center;
font-size: 18px;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Jost", sans-serif;
  background: linear-gradient(to bottom, #79b179, #c9f1c7, #79b179);
}

.master {
  width: 820px;
  height: 550px;
  background: #79b179;
  overflow: hidden;
  box-shadow: 5px 20px 50px rgb(41, 41, 41);
}

input {
  height: 20px;
  background: #efeff7;
  justify-content: center;
  display: flex;
  padding: 10px;
  border: none;
  outline: none;
}