* {
    font-family: 'jost', sans-serif;
    background-color: #c7c5f4;
}

.header {
    background-color: #5d54a4;
    padding: 20px 25px;
    color: white;
    text-align: center;
}

div {
    border-bottom: 2px solid white;
}

body {
    margin: 0px;
}

.checkmark {
    width: 15px;
    height: 20px;
}

#title {
    border-bottom: solid 1px white;
    background-color: #5d54a4;
}

.divMenu {
    color: white;
    text-align: right;
    
}

h2 {
    padding-left: 10px;
}

p {
    padding-left: 10px;
}

a {
    color: white;
    padding: 2px;
}

a:hover {
    color: #c7c5f4;
}

a:active{
    color: white;
}

button {
    width: 15%;
    height: 30px;
    color: #C7C5F4;
    background: #5D54A4;
    font-size: 13px;
    font-weight: bold;
    outline: none;
    border: none;
    transition: .2s ease-in;
    cursor: pointer;
    margin: 5px;
}

#btnLogout{
    width: 15%;
    height: 30px;
    color: #5D54A4;
    background: #C7C5F4;
    font-size: 13px;
    font-weight: bold;
    outline: none;
    border: none;
    transition: .2s ease-in;
    cursor: pointer;
    margin: 5px;
}

#btnDelUser{
    width: 15%;
    height: 30px;
    color: #5D54A4;
    background: #C7C5F4;
    font-size: 13px;
    font-weight: bold;
    outline: none;
    border: none;
    transition: .2s ease-in;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: lightgray;
}

button:active {
    background-color: #c7c5f4;
    color: white;
}