* {
  margin: 0;
  padding-top: 10px;
  font-family: "Jost", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Jost", sans-serif;
  background: linear-gradient(to bottom, #79b179, #c9f1c7, #79b179);
}

.master {
  width: 400px;
  height: 230px;
  background: #79b179;
  overflow: hidden;
  box-shadow: 5px 20px 50px rgb(41, 41, 41);
  text-align: center;
}

#overskrift {
  color: white;
  font-size: 45px;
  padding-left: 0px;
}

input {
  height: 20px;
  background: #efeff7;
  justify-content: center;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}

#btnChange {
  width: 130px;
  height: 40px;
  color: #79b179;
  background: #c9f1c7;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  margin-top: 15px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
}

#btnChange:hover {
  background: lightgray;
}

#btnBack {
  width: 130px;
  height: 40px;
  color: #79b179;
  background: #c9f1c7;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  margin-top: 15px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
}

#btnBack:hover {
  background: lightgray;
}

#txtResult {
  color: #c9f1c7;
  font-size: 15px;
  text-align: center;
  justify-content: center;
  display: flex;
}
